In [3]:
import pandas as pd

In [2]:
goal_data = pd.read_csv('goal_stats_euro_leagues_2012-13.csv')

In [8]:
goal_data['NewState'] = goal_data.Stat.str.count('a')

In [55]:
goal_data['l'] = goal_data.Stat.str.len()

In [56]:
goal_data

,Month,Stat,EPL,La Liga,Serie A,Bundesliga,NewState,startswithM,l
0,08/01/2012,MatchesPlayed,20.0,20,10.0,10.0,2,"[M, tchesPl, yed]",13
1,09/01/2012,MatchesPlayed,38.0,39,50.0,44.0,2,"[M, tchesPl, yed]",13
2,10/01/2012,MatchesPlayed,31.0,31,39.0,27.0,2,"[M, tchesPl, yed]",13
3,11/01/2012,MatchesPlayed,50.0,41,42.0,46.0,2,"[M, tchesPl, yed]",13
4,12/01/2012,MatchesPlayed,59.0,39,39.0,26.0,2,"[M, tchesPl, yed]",13
5,01/01/2013,MatchesPlayed,42.0,40,40.0,18.0,2,"[M, tchesPl, yed]",13
6,02/01/2013,MatchesPlayed,30.0,40,40.0,36.0,2,"[M, tchesPl, yed]",13
7,03/01/2013,MatchesPlayed,35.0,38,39.0,36.0,2,"[M, tchesPl, yed]",13
8,04/01/2013,MatchesPlayed,42.0,42,41.0,36.0,2,"[M, tchesPl, yed]",13
9,05/01/2013,MatchesPlayed,33.0,40,40.0,27.0,2,"[M, tchesPl, yed]",13
10,06/02/2013,MatchesPlayed,NaN,10,NaN,NaN,2,"[M, tchesPl, yed]",13
11,08/01/2012,GoalsScored,57.0,60,21.0,23.0,1,"[Go, lsScored]",11
12,09/01/2012,GoalsScored,111.0,112,133.0,135.0,1,"[Go, lsScored]",11
13,10/01/2012,GoalsScored,95.0,88,97.0,77.0,1,"[Go, lsScored]",11
14,11/01/2012,GoalsScored,121.0,116,120.0,137.0,1,"[Go, lsScored]",11
15,12/01/2012,GoalsScored,183.0,109,125.0,72.0,1,"[Go, lsScored]",11
16,01/01/2013,GoalsScored,117.0,121,104.0,51.0,1,"[Go, lsScored]",11
17,02/01/2013,GoalsScored,87.0,110,100.0,101.0,1,"[Go, lsScored]",11
18,03/01/2013,GoalsScored,91.0,101,99.0,106.0,1,"[Go, lsScored]",11
19,04/01/2013,GoalsScored,105.0,127,102.0,104.0,1,"[Go, lsScored]",11
20,05/01/2013,GoalsScored,96.0,109,102.0,92.0,1,"[Go, lsScored]",11
21,06/01/2013,GoalsScored,NaN,80,NaN,NaN,1,"[Go, lsScored]",11

In [1]:
import pandas as pd
titanic_data = pd.read_csv('titanic-train.csv',index_col='PassengerId')

In [5]:
titanic_data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [19]:
titanic_data.describe()

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [20]:
titanic_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 11 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Name        891 non-null object
Sex         891 non-null object
Age         714 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Ticket      891 non-null object
Fare        891 non-null float64
Cabin       204 non-null object
Embarked    889 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 123.5+ KB

In [21]:
### Show which col have how manu null entries

In [22]:
titanic_data.isnull().sum()

Survived      0
Pclass        0
Name          0
Sex           0
Age         177
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       687
Embarked      2
dtype: int64

In [26]:
#delete all the rows of Cabin column
titanic_data.drop("Cabin",axis=1,inplace=True)

In [28]:
titanic_data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
PassengerId,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S

In [2]:
o = titanic_data.groupby('Sex').size()

In [3]:
o

Sex
female    314
male      577
dtype: int64

In [40]:
titanic_data.groupby('Sex').describe()

          Age                                                       Fare  \
        count       mean        std   min   25%   50%   75%   max  count
Sex
female  261.0  27.915709  14.110146  0.75  18.0  27.0  37.0  63.0  314.0
male    453.0  30.726645  14.678201  0.42  21.0  29.0  39.0  80.0  577.0

                  ...  SibSp      Survived                                     \
             mean ...    75%  max    count      mean       std  min  25%  50%
Sex               ...
female  44.479818 ...    1.0  8.0    314.0  0.742038  0.438211  0.0  0.0  1.0
male    25.523893 ...    0.0  8.0    577.0  0.188908  0.391775  0.0  0.0  0.0


        75%  max
Sex
female  1.0  1.0
male    0.0  1.0

[2 rows x 48 columns]

In [44]:
titanic_data[titanic_data.Fare > 500]

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
PassengerId,,,,,,,,,,
259,1,1,"Ward, Miss. Anna",female,35.0,0,0,PC 17755,512.3292,C
680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.0,0,1,PC 17755,512.3292,C
738,1,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,PC 17755,512.3292,C

In [6]:
titanic_data['Fare'].argmax()

259

In [52]:
titanic_data.loc[titanic_data['Fare'].idxmax()]

Survived                   1
Pclass                     1
Name        Ward, Miss. Anna
Sex                   female
Age                       35
SibSp                      0
Parch                      0
Ticket              PC 17755
Fare                 512.329
Embarked                   C
Name: 259, dtype: object

In [7]:
titanic_data[titanic_data.Fare == titanic_data.Fare.max()]

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
259,1,1,"Ward, Miss. Anna",female,35.0,0,0,PC 17755,512.3292,NaN,C
680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.0,0,1,PC 17755,512.3292,B51 B53 B55,C
738,1,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,PC 17755,512.3292,B101,C

In [8]:
titanic_data['name_length'] = titanic_data.Name.str.len()

In [9]:
titanic_data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,name_length
PassengerId,,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,23
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,51
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,22
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,44
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,24

In [61]:
titanic_data[titanic_data['name_length'] == titanic_data.name_length.max()]

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,name_length
PassengerId,,,,,,,,,,,
308,1,1,"Penasco y Castellana, Mrs. Victor de Satode (M...",female,17.0,1,0,PC 17758,108.9,C,82

In [10]:
#Finding all not null age rows & assign to new dataframe age_titanic_data
age_titanic_data = titanic_data[pd.notnull(titanic_data['Age'])]

In [12]:
age_titanic_data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,name_length
PassengerId,,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,23
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,51
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,22
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,44
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,24

In [13]:
#Making age column as index
age_titanic_data.set_index('Age',inplace=True)

In [14]:
def getAgeCat(age):
    if age <= 18:
        return 'Kid'
    else:
        return 'Adult'
    
age_titanic_data.groupby(getAgeCat).size()

Adult    575
Kid      139
dtype: int64

In [15]:
age_titanic_data.groupby(lambda age: 'Kid' if age <= 18 else 'Adult').size()

Adult    575
Kid      139
dtype: int64

In [74]:
def f(age):
    
    if age < 18:
        return "Kid"
    elif age > 18:
        return "Adult"
    else:
        return "Not Known"
    
titanic_data['Status'] = titanic_data.Age.map(f)

In [75]:
titanic_data

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,name_length,Status
PassengerId,,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S,23,Adult
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C,51,Adult
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S,22,Adult
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S,44,Adult
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S,24,Adult
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,Q,16,Not Known
7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,S,23,Adult
8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,S,30,Kid
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,S,49,Adult
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,C,35,Kid
11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,S,31,Kid
12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,S,24,Adult
13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,S,30,Adult
14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,S,27,Adult
15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,S,36,Kid
16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,S,32,Adult
17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,Q,20,Kid
18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,S,28,Not Known
19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,S,55,Adult
20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,C,23,Not Known
21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,S,20,Adult
22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,S,21,Adult
23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,Q,27,Kid
24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,S,28,Adult
25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,S,29,Kid
26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,S,57,Adult
27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,C,23,Not Known
28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,S,30,Adult
29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,Q,29,Not Known
30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,S,19,Not Known
...,...,...,...,...,...,...,...,...,...,...,...,...
862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,S,27,Adult
863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,S,51,Adult
864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,S,33,Not Known
865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,S,22,Adult
866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,S,24,Adult
867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,C,28,Adult
868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,S,36,Adult
869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,S,27,Not Known
870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,S,31,Kid
871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,S,17,Adult
872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,S,48,Adult
873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,S,24,Adult
874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,S,27,Adult
875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,C,37,Adult
876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,C,32,Kid
877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,S,29,Adult
878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,S,20,Adult
879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,S,18,Not Known
880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C,45,Adult
881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,S,44,Adult
882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,S,18,Adult
883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,S,28,Adult
884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,S,29,Adult
885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,S,22,Adult
886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,Q,36,Adult
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,S,21,Adult
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,S,28,Adult
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,S,40,Not Known
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C,21,Adult
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,Q,19,Adult

In [11]:
titanic_data.Name.str.len()

PassengerId
1      23
2      51
3      22
4      44
5      24
6      16
7      23
8      30
9      49
10     35
11     31
12     24
13     30
14     27
15     36
16     32
17     20
18     28
19     55
20     23
21     20
22     21
23     27
24     28
25     29
26     57
27     23
28     30
29     29
30     19
       ..
862    27
863    51
864    33
865    22
866    24
867    28
868    36
869    27
870    31
871    17
872    48
873    24
874    27
875    37
876    32
877    29
878    20
879    18
880    45
881    44
882    18
883    28
884    29
885    22
886    36
887    21
888    28
889    40
890    21
891    19
Name: Name, Length: 891, dtype: int64

In [14]:
titanic_data.dropna()
titanic_data.Name.str.split(' ')

PassengerId
1                           [Braund,, Mr., Owen, Harris]
2      [Cumings,, Mrs., John, Bradley, (Florence, Bri...
3                             [Heikkinen,, Miss., Laina]
4      [Futrelle,, Mrs., Jacques, Heath, (Lily, May, ...
5                          [Allen,, Mr., William, Henry]
6                                   [Moran,, Mr., James]
7                           [McCarthy,, Mr., Timothy, J]
8                    [Palsson,, Master., Gosta, Leonard]
9      [Johnson,, Mrs., Oscar, W, (Elisabeth, Vilhelm...
10             [Nasser,, Mrs., Nicholas, (Adele, Achem)]
11                  [Sandstrom,, Miss., Marguerite, Rut]
12                          [Bonnell,, Miss., Elizabeth]
13                   [Saundercock,, Mr., William, Henry]
14                      [Andersson,, Mr., Anders, Johan]
15            [Vestrom,, Miss., Hulda, Amanda, Adolfina]
16               [Hewlett,, Mrs., (Mary, D, Kingcome), ]
17                              [Rice,, Master., Eugene]
18                     [Williams,, Mr., Charles, Eugene]
19     [Vander, Planke,, Mrs., Julius, (Emelia, Maria...
20                           [Masselmani,, Mrs., Fatima]
21                             [Fynney,, Mr., Joseph, J]
22                             [Beesley,, Mr., Lawrence]
23                      [McGowan,, Miss., Anna, "Annie"]
24                     [Sloper,, Mr., William, Thompson]
25                    [Palsson,, Miss., Torborg, Danira]
26     [Asplund,, Mrs., Carl, Oscar, (Selma, Augusta,...
27                          [Emir,, Mr., Farred, Chehab]
28                   [Fortune,, Mr., Charles, Alexander]
29                    [O'Dwyer,, Miss., Ellen, "Nellie"]
30                               [Todoroff,, Mr., Lalio]
                             ...
862                     [Giles,, Mr., Frederick, Edward]
863    [Swift,, Mrs., Frederick, Joel, (Margaret, Wel...
864              [Sage,, Miss., Dorothy, Edith, "Dolly"]
865                          [Gill,, Mr., John, William]
866                         [Bystrom,, Mrs., (Karolina)]
867                   [Duran, y, More,, Miss., Asuncion]
868           [Roebling,, Mr., Washington, Augustus, II]
869                     [van, Melkebeke,, Mr., Philemon]
870                 [Johnson,, Master., Harold, Theodor]
871                                [Balkic,, Mr., Cerin]
872    [Beckwith,, Mrs., Richard, Leonard, (Sallie, M...
873                        [Carlsson,, Mr., Frans, Olof]
874                     [Vander, Cruyssen,, Mr., Victor]
875          [Abelson,, Mrs., Samuel, (Hannah, Wizosky)]
876               [Najib,, Miss., Adele, Kiamie, "Jane"]
877                   [Gustafsson,, Mr., Alfred, Ossian]
878                             [Petroff,, Mr., Nedelio]
879                               [Laleff,, Mr., Kristo]
880    [Potter,, Mrs., Thomas, Jr, (Lily, Alexenia, W...
881    [Shelley,, Mrs., William, (Imanita, Parrish, H...
882                               [Markun,, Mr., Johann]
883                    [Dahlberg,, Miss., Gerda, Ulrika]
884                   [Banfield,, Mr., Frederick, James]
885                          [Sutehall,, Mr., Henry, Jr]
886           [Rice,, Mrs., William, (Margaret, Norton)]
887                            [Montvila,, Rev., Juozas]
888                    [Graham,, Miss., Margaret, Edith]
889       [Johnston,, Miss., Catherine, Helen, "Carrie"]
890                           [Behr,, Mr., Karl, Howell]
891                              [Dooley,, Mr., Patrick]
Name: Name, Length: 891, dtype: object

In [21]:
sum(titanic_data.Name.str.len() == 0)

0

In [45]:
#Convert name into list of strings
titanic_data['fullname'] =titanic_data.Name.str.split(",")

In [28]:
#Getting the first word from the list
titanic_data['firstname'] = titanic_data.fullname.map(lambda s : s[0])

In [29]:
titanic_data

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fullname,firstname
PassengerId,,,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,"[Braund, Mr. Owen Harris]",Braund
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,"[Cumings, Mrs. John Bradley (Florence Briggs ...",Cumings
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,"[Heikkinen, Miss. Laina]",Heikkinen
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,"[Futrelle, Mrs. Jacques Heath (Lily May Peel)]",Futrelle
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,"[Allen, Mr. William Henry]",Allen
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,"[Moran, Mr. James]",Moran
7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,"[McCarthy, Mr. Timothy J]",McCarthy
8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,"[Palsson, Master. Gosta Leonard]",Palsson
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,"[Johnson, Mrs. Oscar W (Elisabeth Vilhelmina ...",Johnson
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,"[Nasser, Mrs. Nicholas (Adele Achem)]",Nasser
11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,"[Sandstrom, Miss. Marguerite Rut]",Sandstrom
12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,"[Bonnell, Miss. Elizabeth]",Bonnell
13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S,"[Saundercock, Mr. William Henry]",Saundercock
14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S,"[Andersson, Mr. Anders Johan]",Andersson
15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S,"[Vestrom, Miss. Hulda Amanda Adolfina]",Vestrom
16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S,"[Hewlett, Mrs. (Mary D Kingcome) ]",Hewlett
17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q,"[Rice, Master. Eugene]",Rice
18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S,"[Williams, Mr. Charles Eugene]",Williams
19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S,"[Vander Planke, Mrs. Julius (Emelia Maria Van...",Vander Planke
20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C,"[Masselmani, Mrs. Fatima]",Masselmani
21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S,"[Fynney, Mr. Joseph J]",Fynney
22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S,"[Beesley, Mr. Lawrence]",Beesley
23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q,"[McGowan, Miss. Anna ""Annie""]",McGowan
24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S,"[Sloper, Mr. William Thompson]",Sloper
25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S,"[Palsson, Miss. Torborg Danira]",Palsson
26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S,"[Asplund, Mrs. Carl Oscar (Selma Augusta Emil...",Asplund
27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C,"[Emir, Mr. Farred Chehab]",Emir
28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,"[Fortune, Mr. Charles Alexander]",Fortune
29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q,"[O'Dwyer, Miss. Ellen ""Nellie""]",O'Dwyer
30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S,"[Todoroff, Mr. Lalio]",Todoroff
...,...,...,...,...,...,...,...,...,...,...,...,...,...
862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S,"[Giles, Mr. Frederick Edward]",Giles
863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S,"[Swift, Mrs. Frederick Joel (Margaret Welles ...",Swift
864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S,"[Sage, Miss. Dorothy Edith ""Dolly""]",Sage
865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S,"[Gill, Mr. John William]",Gill
866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S,"[Bystrom, Mrs. (Karolina)]",Bystrom
867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C,"[Duran y More, Miss. Asuncion]",Duran y More
868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S,"[Roebling, Mr. Washington Augustus II]",Roebling
869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S,"[van Melkebeke, Mr. Philemon]",van Melkebeke
870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S,"[Johnson, Master. Harold Theodor]",Johnson
871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S,"[Balkic, Mr. Cerin]",Balkic
872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S,"[Beckwith, Mrs. Richard Leonard (Sallie Monyp...",Beckwith
873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S,"[Carlsson, Mr. Frans Olof]",Carlsson
874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S,"[Vander Cruyssen, Mr. Victor]",Vander Cruyssen
875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C,"[Abelson, Mrs. Samuel (Hannah Wizosky)]",Abelson
876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C,"[Najib, Miss. Adele Kiamie ""Jane""]",Najib
877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S,"[Gustafsson, Mr. Alfred Ossian]",Gustafsson
878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S,"[Petroff, Mr. Nedelio]",Petroff
879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S,"[Laleff, Mr. Kristo]",Laleff
880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,"[Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)]",Potter
881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S,"[Shelley, Mrs. William (Imanita Parrish Hall)]",Shelley
882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S,"[Markun, Mr. Johann]",Markun
883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S,"[Dahlberg, Miss. Gerda Ulrika]",Dahlberg
884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S,"[Banfield, Mr. Frederick James]",Banfield
885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S,"[Sutehall, Mr. Henry Jr]",Sutehall
886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q,"[Rice, Mrs. William (Margaret Norton)]",Rice
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,"[Montvila, Rev. Juozas]",Montvila
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,"[Graham, Miss. Margaret Edith]",Graham
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,"[Johnston, Miss. Catherine Helen ""Carrie""]",Johnston
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,"[Behr, Mr. Karl Howell]",Behr
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,"[Dooley, Mr. Patrick]",Dooley

In [32]:
titanic_data['fullname'] =titanic_data.Name.str.split(",",n=1,expand=True)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fullname,firstname
PassengerId,,,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Braund,Braund
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Cumings,Cumings
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Heikkinen,Heikkinen
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Futrelle,Futrelle
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Allen,Allen
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,Moran,Moran
7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,McCarthy,McCarthy
8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,Palsson,Palsson
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,Johnson,Johnson
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,Nasser,Nasser
11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,Sandstrom,Sandstrom
12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,Bonnell,Bonnell
13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S,Saundercock,Saundercock
14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S,Andersson,Andersson
15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S,Vestrom,Vestrom
16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S,Hewlett,Hewlett
17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q,Rice,Rice
18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S,Williams,Williams
19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S,Vander Planke,Vander Planke
20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C,Masselmani,Masselmani
21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S,Fynney,Fynney
22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S,Beesley,Beesley
23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q,McGowan,McGowan
24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S,Sloper,Sloper
25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S,Palsson,Palsson
26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S,Asplund,Asplund
27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C,Emir,Emir
28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,Fortune,Fortune
29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q,O'Dwyer,O'Dwyer
30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S,Todoroff,Todoroff
...,...,...,...,...,...,...,...,...,...,...,...,...,...
862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S,Giles,Giles
863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S,Swift,Swift
864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S,Sage,Sage
865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S,Gill,Gill
866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S,Bystrom,Bystrom
867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C,Duran y More,Duran y More
868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S,Roebling,Roebling
869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S,van Melkebeke,van Melkebeke
870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S,Johnson,Johnson
871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S,Balkic,Balkic
872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S,Beckwith,Beckwith
873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S,Carlsson,Carlsson
874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S,Vander Cruyssen,Vander Cruyssen
875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C,Abelson,Abelson
876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C,Najib,Najib
877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S,Gustafsson,Gustafsson
878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S,Petroff,Petroff
879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S,Laleff,Laleff
880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,Potter,Potter
881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S,Shelley,Shelley
882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S,Markun,Markun
883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S,Dahlberg,Dahlberg
884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S,Banfield,Banfield
885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S,Sutehall,Sutehall
886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q,Rice,Rice
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Montvila,Montvila
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Graham,Graham
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,Johnston,Johnston
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Behr,Behr
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Dooley,Dooley

In [34]:
titanic_data['firstname'] = titanic_data.Name.map(lambda s : s[0])

In [35]:
titanic_data

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fullname,firstname
PassengerId,,,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Braund,B
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Cumings,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Heikkinen,H
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Futrelle,F
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Allen,A
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,Moran,M
7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,McCarthy,M
8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,Palsson,P
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,Johnson,J
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,Nasser,N
11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,Sandstrom,S
12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,Bonnell,B
13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S,Saundercock,S
14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S,Andersson,A
15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S,Vestrom,V
16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S,Hewlett,H
17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q,Rice,R
18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S,Williams,W
19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S,Vander Planke,V
20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C,Masselmani,M
21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S,Fynney,F
22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S,Beesley,B
23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q,McGowan,M
24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S,Sloper,S
25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S,Palsson,P
26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S,Asplund,A
27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C,Emir,E
28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,Fortune,F
29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q,O'Dwyer,O
30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S,Todoroff,T
...,...,...,...,...,...,...,...,...,...,...,...,...,...
862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S,Giles,G
863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S,Swift,S
864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S,Sage,S
865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S,Gill,G
866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S,Bystrom,B
867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C,Duran y More,D
868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S,Roebling,R
869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S,van Melkebeke,v
870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S,Johnson,J
871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S,Balkic,B
872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S,Beckwith,B
873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S,Carlsson,C
874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S,Vander Cruyssen,V
875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C,Abelson,A
876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C,Najib,N
877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S,Gustafsson,G
878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S,Petroff,P
879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S,Laleff,L
880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,Potter,P
881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S,Shelley,S
882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S,Markun,M
883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S,Dahlberg,D
884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S,Banfield,B
885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S,Sutehall,S
886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q,Rice,R
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Montvila,M
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Graham,G
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,Johnston,J
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Behr,B
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Dooley,D

In [16]:
import matplotlib.image as mpimg

In [17]:
img = mpimg.imread('abc.jpg')

In [18]:
img.shape

(385, 363, 3)

In [55]:
titanic_data['listname']  = titanic_data.Name.str.split(',')

PassengerId
1                             [ Mr. Owen Harris, Braund]
2      [ Mrs. John Bradley (Florence Briggs Thayer), ...
3                              [ Miss. Laina, Heikkinen]
4        [ Mrs. Jacques Heath (Lily May Peel), Futrelle]
5                            [ Mr. William Henry, Allen]
6                                    [ Mr. James, Moran]
7                             [ Mr. Timothy J, McCarthy]
8                      [ Master. Gosta Leonard, Palsson]
9      [ Mrs. Oscar W (Elisabeth Vilhelmina Berg), Jo...
10                [ Mrs. Nicholas (Adele Achem), Nasser]
11                    [ Miss. Marguerite Rut, Sandstrom]
12                           [ Miss. Elizabeth, Bonnell]
13                     [ Mr. William Henry, Saundercock]
14                        [ Mr. Anders Johan, Andersson]
15               [ Miss. Hulda Amanda Adolfina, Vestrom]
16                   [ Mrs. (Mary D Kingcome) , Hewlett]
17                               [ Master. Eugene, Rice]
18                       [ Mr. Charles Eugene, Williams]
19     [ Mrs. Julius (Emelia Maria Vandemoortele), Va...
20                            [ Mrs. Fatima, Masselmani]
21                               [ Mr. Joseph J, Fynney]
22                              [ Mr. Lawrence, Beesley]
23                        [ Miss. Anna "Annie", McGowan]
24                       [ Mr. William Thompson, Sloper]
25                      [ Miss. Torborg Danira, Palsson]
26     [ Mrs. Carl Oscar (Selma Augusta Emilia Johans...
27                            [ Mr. Farred Chehab, Emir]
28                     [ Mr. Charles Alexander, Fortune]
29                      [ Miss. Ellen "Nellie", O'Dwyer]
30                                [ Mr. Lalio, Todoroff]
                             ...
862                       [ Mr. Frederick Edward, Giles]
863    [ Mrs. Frederick Joel (Margaret Welles Barron)...
864                 [ Miss. Dorothy Edith "Dolly", Sage]
865                            [ Mr. John William, Gill]
866                          [ Mrs. (Karolina), Bystrom]
867                      [ Miss. Asuncion, Duran y More]
868              [ Mr. Washington Augustus II, Roebling]
869                       [ Mr. Philemon, van Melkebeke]
870                   [ Master. Harold Theodor, Johnson]
871                                 [ Mr. Cerin, Balkic]
872    [ Mrs. Richard Leonard (Sallie Monypeny), Beck...
873                          [ Mr. Frans Olof, Carlsson]
874                       [ Mr. Victor, Vander Cruyssen]
875             [ Mrs. Samuel (Hannah Wizosky), Abelson]
876                  [ Miss. Adele Kiamie "Jane", Najib]
877                     [ Mr. Alfred Ossian, Gustafsson]
878                              [ Mr. Nedelio, Petroff]
879                                [ Mr. Kristo, Laleff]
880     [ Mrs. Thomas Jr (Lily Alexenia Wilson), Potter]
881      [ Mrs. William (Imanita Parrish Hall), Shelley]
882                                [ Mr. Johann, Markun]
883                      [ Miss. Gerda Ulrika, Dahlberg]
884                     [ Mr. Frederick James, Banfield]
885                            [ Mr. Henry Jr, Sutehall]
886              [ Mrs. William (Margaret Norton), Rice]
887                             [ Rev. Juozas, Montvila]
888                      [ Miss. Margaret Edith, Graham]
889          [ Miss. Catherine Helen "Carrie", Johnston]
890                             [ Mr. Karl Howell, Behr]
891                               [ Mr. Patrick, Dooley]
Name: listname, Length: 891, dtype: object

In [19]:
review = pd.read_csv('Reviews.csv')

In [60]:
review.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...

In [61]:
review.Text.str.split(" ").map(lambda l: sorted(l)).map(lambda l: l[-1])

0                to
1              were
2             yummy
3               you
4             yummy
5             would
6           wrapped
7               you
8              with
9              very
10             your
11            where
12           years.
13             were
14           yummy.
15              you
16              zip
17             with
18         weighted
19              was
20             well
21            worth
22              you
23           weight
24              yrs
25         received
26            would
27              was
28              you
29             your
            ...
568424          you
568425          you
568426         your
568427         with
568428        would
568429         with
568430          was
568431        worth
568432        would
568433          you
568434     wouldn't
568435        would
568436        would
568437          you
568438          you
568439         yet.
568440         work
568441        wurst
568442          you
568443          you
568444          use
568445    yourself,
568446         will
568447        young
568448          use
568449          use
568450        worth
568451          you
568452         your
568453         with
Name: Text, Length: 568454, dtype: object

In [64]:
review.Text.map(lambda string : string.startswith('a') or string.startswith('b'))

0         False
1         False
2         False
3         False
4         False
5         False
6         False
7         False
8         False
9         False
10        False
11        False
12        False
13        False
14        False
15        False
16        False
17        False
18        False
19        False
20        False
21        False
22        False
23        False
24        False
25        False
26        False
27        False
28        False
29        False
          ...
568424    False
568425    False
568426    False
568427    False
568428    False
568429    False
568430    False
568431    False
568432    False
568433    False
568434    False
568435    False
568436    False
568437    False
568438    False
568439    False
568440    False
568441    False
568442    False
568443    False
568444    False
568445    False
568446    False
568447    False
568448    False
568449    False
568450    False
568451    False
568452    False
568453    False
Name: Text, Length: 568454, dtype: bool

In [20]:
import re

In [24]:
re.match(r'[a-m]\w+',"aj@gmail.com")

In [67]:
re.match(r'[a-m]\w+',"zbc")

In [21]:
def chk(string):
    if re.match(r'[a-m]\w+',string):
        return True
    else:
        return False

In [25]:
review[review.Text.map(lambda string : chk(string))]

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
13,14,B001GVISJM,A18ECVX2RJ7HUE,"willie ""roadie""",2,2,4,1288915200,fresh and greasy!,good flavor! these came securely packed... the...
248,249,B007TFONH0,A3ICO2ROSXHIPM,tightwad,0,0,5,1340755200,delicious,good products and fast shipping equals a happy...
285,286,B000H13270,A1YLOZQKBX3J1S,"R. Lee Dailey ""Lee_Dailey""",1,4,3,1221177600,too expensive,"howdy y'all,<br /><br />the actual product is ..."
477,478,B000G6RYNE,A2LS9RBSI8SDZF,Ashish Shah,0,0,5,1215475200,fantastic!you can not beat this taste and you ...,fantastic!you can not beat this taste and you ...
538,539,B000G6RYNE,A2NI99G9BANORP,cgoldsmith19,1,3,1,1328572800,completely ripped off,after opening numerous bags I found that none ...
623,624,B000G6RYNE,AKGQ6RM68SQY1,"Catherine Diane ""CDI""",2,3,1,1336521600,ONLY awful because SOMETIMES they are awful,and THAT is the problem. I order these by the...
759,760,B0035YE9CS,A1Z1RVRG9CFCB7,taostalk,0,2,4,1343779200,non GMO,most soy sauce is from Japan but they are havi...
824,825,B003AO5DLO,A1DYP6HZQ3AGZU,hnryan,1,1,5,1318896000,"Fast and great service,","fast and great service, my Cavashon Loves this..."
847,848,B0041CKRJC,A4MPDQF63WAEO,vintage,2,2,4,1324684800,soda,being an old chemist with a spectrophotometer ...
958,959,B000S806VM,AL4M4T6T3JHY3,candiceemoe,2,3,5,1327881600,lovely!,bought this for my dad. for about 2 years he w...
994,995,B006F2NYI2,A1T5CH6SHV989P,a biemold,2,2,5,1323734400,best hot sauce around,absolutely love the habenaro sauce...use it on...
1035,1036,B001E6KBSK,A2CH71BG8TO5NN,husband favorite treat,0,2,5,1316995200,yummy for ur tummy,its hard to find in the us my husband frm jama...
1133,1134,B002OHOC6A,A1ML5BUFQOZ7MO,charluce,1,1,5,1343174400,cat food,my cats favorite cat food he is very pickey an...
1144,1145,B002NVPPHC,A31YYS8JRQAZP8,"Rena ""Rena""",0,0,5,1155945600,the best!,dum dum lolly pops are the best! they come i l...
1191,1192,B00283V4GQ,A216KUCPWG8XYN,JTK,0,0,5,1318809600,small swirled lollipops,comical that this is considered a 'toy'. I bo...
1214,1215,B005O072PC,AWZ1C2FT0L3W9,Sandy,5,6,5,1156982400,Potatoes,excellent - will order again!! It's nice to b...
1261,1262,B001FA1L7A,A3JHTGEVR4714V,marie james,0,0,5,1333411200,happily home,life without bird's custard has been hell ! i'...
1282,1283,B000WNJ73Q,A3HRFH52UB70L7,CXC,0,0,5,1278115200,great product,even my vet approves. these little treats are ...
1297,1298,B001FA1L7U,A3AEB0UGBHU44M,jim k,1,1,5,1348099200,jgk likes beer nuts,great product! wish they were still available ...
1328,1329,B000VX9XFE,A3R7A2954ZKBZK,S. Roberts,1,1,5,1227398400,bread mixes,bought as gift for hard to buy for father...he...
1362,1363,B005151BV6,A2CFWPZX3VUF64,"Benjamin R. Tyler ""Ben Jamin""",0,0,5,1327104000,tic tac,great thanks for the great service i don't kno...
1419,1420,B005CV7TOC,A214WOSWVWZQV0,spooky,0,0,5,1350345600,the family loved it,if u have not tried this u r missing the best ...
1470,1471,B0040WHJQM,A15SCIHLW004UA,"M. Lightner ""bluemtnmarc""",0,1,3,1340668800,not bad but not too much flavor,"first time I've tried this item, it's just ok,..."
1491,1492,B000WFL0HK,AV40J5VUBWG5J,"Celest ""Celest""",0,0,2,1340236800,makes nasty loose poo!,makes nasty loose poo! the dry food does the s...
1526,1527,B000E1HUEE,A2B5QDGD0T7L16,Don Rottmann,0,4,1,1266278400,cook & serve choc. fudge pudding,how come you sent me instant choc.fudge puddin...
1764,1765,B001RVFDOO,AV92TAXZS56BD,"Dana L. Lustbader ""dl""",0,0,5,1264291200,Entire family loves them,loved the assortment pack. everyone in family ...
1797,1798,B001RVFDOO,AH2YIHQN1LVSC,Joel S Loftin,0,1,5,1322438400,Pop Chips Are Tops,in my book. You can eat one serving with ease ...
2237,2238,B002C4HZ00,A320W49RGU48WY,Michael Parsons,0,0,4,1314748800,a little disappointing,most if not all of the cans were dented in som...
2292,2293,B002MB2J6I,A1IR6J9B4R387L,norman,0,0,5,1336608000,spray mix,better then I expected. I notice there was som...
2361,2362,B00637N4H0,A3Q1KIDFJ8THMP,DaveS,1,1,4,1325721600,good coffee - brews hot,finally some new varieties of tassimo ... I dr...
...,...,...,...,...,...,...,...,...,...,...
566670,566671,B0077HS6F0,AF6MP20RXGN2J,NORMS09,0,0,1,1348531200,horrible,looks really good but it taste nothing like a ...
566730,566731,B000634EZS,A37RH9H68HBAR5,"E. Meyer ""gingerman""",1,1,5,1239148800,great alternative to chemical clay based litter,after suffering with the chemical smells of th...
566743,566744,B001PQTYN2,A29B05W7CY19DB,Andonelle Rosario,0,0,4,1278288000,great kick to it,great kick to it veryy spicy just one small...
566768,566769,B001PQTYN2,A12E2S5WR62RGB,D. Dekker,4,10,2,1260057600,The worlds hottest or not,as a connoisseur of all things hot I ordered i...
566869,566870,B001NO6EA2,A19E9BTXVSCRJ9,C. Ferrendino,4,4,5,1240272000,delicious and healthy,great tuna. Nice chunky texture. You can actua...
566937,566938,B00302HGHK,A3N29TESY3EIV3,koshka,5,5,5,1280534400,Money Tree,"it is a little bit smaller than i expected, bu..."
566968,566969,B000YHLS8W,AAJ361GDDI06D,Lucky777,0,0,5,1346630400,excellent cookies,"from the ingredients to the taste, very good. ..."
566988,566989,B000YHLS8W,A3QCLEQ7F77V6C,"A. Cazarescastillo ""wary shopper""",1,2,2,1312502400,you can do much better ...,"dry and mealy; the ""chunks"" of chocolate are p..."
567039,567040,B001E5DYT4,A32B3A4FKXDLFH,B. Rodriguez,2,2,4,1199232000,Espresso coffee,made espresso with the Bialetti; great cup of ...
567064,567065,B001E5DYT4,A34QIY0O4J6R3F,Suzanne,0,0,5,1238544000,Yummy,love this coffee -bummer it costs a bit more t...
567067,567068,B001E5DYT4,AN7JYG5S08D7,Alex Mezhibovsky,2,4,3,1256428800,i was not impressed,all reviews which compared illy cofee to lavaz...
567094,567095,B000G7V394,AZJ2HBKV8JHVT,H. Ramsey,3,4,5,1169078400,hard pretzels,"great hard pretzels, pair it with some extra s..."
567225,567226,B000LL0R92,AT01Q3KW1655G,michou,0,2,1,1299369600,bad aftertaste,"maybe i got a bad batch, but i found that this..."
567280,567281,B003IMSFI6,A3V0480PVRUZGP,"Amanda A. Gooding ""amanda panda""",1,1,5,1317859200,good customer service,beautiful flowers - great price and good custo...
567445,567446,B002Y2SLYE,ASIH5ECOJQLCF,Ashok,0,0,1,1332892800,this is a very light roast- with a dark roast ...,for those who are purchasing this assuming to ...
567510,567511,B0052XZHN0,A17P5N52BH91E1,Teresa Sue Allen,0,0,5,1348012800,dresssing,love this very much use ffor receipies very ha...
567628,567629,B005K4Q68Q,ABPNZ9RKXOP0E,gentlman4u,0,0,5,1337040000,cocoa,great product for keurig coffee maker. works f...
567679,567680,B005K4Q68Q,A10E57QZ4GJ32F,Sharks77,0,0,5,1329177600,keurig hot chocolate,"great deal, especially for the price. Item arr..."
567775,567776,B005K4Q68Q,A49ON55UBX8GE,patricia,0,0,5,1323648000,hot cocoa cups,"great price for the 24-count, my dad will love..."
567804,567805,B005K4Q68Q,AG08SJC4G3PY,Math Girl,0,0,4,1321315200,not perfect but better than the rest,"although this isn't a perfect cup of cocoa, it..."
567817,567818,B005K4Q68Q,A1TIHREO1GJW5,dysfuncional veteran,1,2,3,1321747200,nothing special,just got a new keurig and was looking for a gr...
567909,567910,B003ZS2ID6,A28UVTIOMBGS7L,wells,0,0,5,1346889600,great drink,best tasting tomato juice on market. mr. and m...
567964,567965,B0030VJ8YU,A3AUPMMX3Q6JD9,linda halim,0,0,5,1299628800,my picky baby loves this,my super picky baby loves this. it taste good....
568057,568058,B0030VJ8YU,A235LYLCXOO07,kittkatt23,2,3,5,1301616000,great food option,it took about a month for my 11m to start liki...
568169,568170,B004VEWTTQ,A3N0XT43RFEJLD,"Andrea N. Fleuren ""Doctor 72""",0,0,5,1345334400,loved it,great product. actually we've used it all now...
568181,568182,B000IN0ER8,A2QCU7QAYOZPF1,"A. Taylor ""baking mom""",2,2,5,1257120000,Hershey's mini chips,"great product, very fresh. The only thing is ..."
568195,568196,B003RWVFEI,A3JMFCPP0H0Z3A,rk,2,2,5,1346803200,mm good,it was mild compared to canned salmon -excella...
568199,568200,B003RWVFEI,A3HON67T38XCB5,willy,3,4,5,1329436800,salmon,added this with my other fish sandwich combo's...
568277,568278,B003EMXLU2,A3CTEFTZW2XR70,"Courtney J. Byelick ""CJ Walsh""",2,2,4,1290470400,YUM!,"came in a plastic bag, in a box. wasnt the fre..."
568415,568416,B000JT45IA,AEW1UWTI3MCVN,"John S ""Johnny""",0,0,5,1177545600,Hands down the best dressing I've ever had...,as it should be for $6 a bottle.

In [78]:
review.Summary.map(lambda string : chk(string))

TypeError: expected string or bytes-like object

In [79]:
review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 568454 entries, 0 to 568453
Data columns (total 10 columns):
Id                        568454 non-null int64
ProductId                 568454 non-null object
UserId                    568454 non-null object
ProfileName               568438 non-null object
HelpfulnessNumerator      568454 non-null int64
HelpfulnessDenominator    568454 non-null int64
Score                     568454 non-null int64
Time                      568454 non-null int64
Summary                   568428 non-null object
Text                      568454 non-null object
dtypes: int64(5), object(5)
memory usage: 43.4+ MB

In [84]:
review_cl = review[review.Summary.notnull()]

In [86]:
review_cl[review_cl.Summary.map(lambda string : chk(string))]

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
13,14,B001GVISJM,A18ECVX2RJ7HUE,"willie ""roadie""",2,2,4,1288915200,fresh and greasy!,good flavor! these came securely packed... the...
37,38,B001EO5QW8,A3MGP2E1ZZ6GRB,"Zardoz ""focuspuller""",1,1,5,1238457600,it's oatmeal,"What else do you need to know? Oatmeal, instan..."
46,47,B001EO5QW8,AQLL2R1PPR46X,grumpyrainbow,0,0,5,1192752000,good,Good oatmeal. I like the apple cinnamon the b...
59,60,B004N5KULM,A2QOGOXPOVKAJG,mimimc,0,0,5,1320105600,great deal.,"Halloween is over but, I sent a bag to my daug..."
64,65,B005DUM9UQ,A2XIHNXODNZGV4,"ChemProf ""chem professor""",1,1,5,1333584000,great source of electrolytes,This product serves me well as a source of ele...
106,107,B004K2IHUO,A1ZKFQLHFZAEH9,"S. J. Monson ""world citizen""",2,8,3,1236384000,disappointing,not what I was expecting in terms of the compa...
134,135,B003OB0IB8,A1D0URD0AL237J,Mother of Pearl,0,0,5,1334620800,great flavor,i have bought allot of different flavors and t...
149,150,B0037ZFEW4,ABTKZKAWOK4DC,huntersgun,3,3,5,1326153600,awesome cornmeal,This is the best cornmeal. I made regular corn...
191,192,B004V6AH34,A3POAWC2JPQQQP,me,0,0,5,1338249600,great taste and has health benefits!,"Like the other people mentioned, this coffee h..."
206,207,B0028C44Z0,A5F7YR0G7H9HR,Ma J. Vargas Peña,0,1,5,1315180800,fresh!,Fresh scent and taste. Easy to eat one tin in ...
209,210,B0009XLVGA,A3S84SEN2Z6DZU,"EJ ""Seayhorse""",2,2,5,1299283200,"better than average, more expensive than average.",we have fed our cats a lot of stuff. These 2 b...
232,233,B003ZFXJDW,A2HL6876LDPJIM,flageolet,0,0,5,1343692800,just give me some watermelon and citron sea salt,"i cannot live without this citron falksalt, it..."
248,249,B007TFONH0,A3ICO2ROSXHIPM,tightwad,0,0,5,1340755200,delicious,good products and fast shipping equals a happy...
249,250,B000GGKQSO,A1OE23J37ZPDXE,Donald Edward Liberman,0,0,5,1270944000,keeps you out of the dentest chair,If used on a daily basis you will keep your gu...
260,261,B002MV23XM,A2M6O8YORUA8PW,Shirley Sacks,1,1,5,1337040000,my dog loves these,"These are healthy and my mixed Llasa, Tibetan ..."
273,274,B000LKZK7C,A2582KMXLK2P06,B. E Jackson,0,0,5,1296777600,great,I really love this sugar and price-wise it's m...
284,285,B000H13270,A3J6I70Z9Q0HRX,Lindey H. Magee,1,3,5,1261785600,"it's fabulous, but *not* from amazon!",the price on this product certainly raises my ...
306,307,B003EMU7EU,A3DSWITPB6NBT5,benvenutofam,0,0,4,1287619200,could use only once,I loved this mold! I wished I could have used...
322,323,B000JEHAHS,A2MMFEZ728S1MA,Deborah A. Young,0,1,3,1232409600,arrived FAST,I was amazed at how quickly it arrived! It is...
325,326,B003VTN95K,A6Y49ZNS6NPN0,Ute H. Bischoff,0,0,5,1345334400,coffee-mate coffee creamer hazelnut,i love the convenience of the singles. The bes...
329,330,B003VTN95K,A3GLQSR6MTHXGL,Donna Kelly,0,0,5,1330214400,coffee-mate creamer,This seller is very nice. And the price is ve...
340,341,B000HKYP9A,AD5WAUA14YD6N,M. Knapp,0,0,4,1281657600,"great for eating whole foods, clean with veggi...",I have a slightly different version of this - ...
349,350,B00067AD4U,A2LYOWC3FC73XK,"Michael Ekstrum ""expresso bean fan""",1,1,5,1178928000,excellent - exactly what I expected,The product was exactly as advertised and fres...
355,356,B002J2DO8W,ASIAOU4JW8LUG,K. Gohokar,0,0,5,1331596800,great taste,This is what I was looking for and was missing...
403,404,B006CGURWM,A3F5EUYWKVWPJ6,southernboy,0,0,1,1342915200,disappointing,Perhaps the worst bottle of wine I've ever had...
406,407,B003D4O92K,A2KTYAKU1PEVCI,D. E. Leslie,3,3,5,1288396800,minty flavor,This is one of the best mint chocolate syrup I...
411,412,B00061KYVI,A28RMYGO9RGA0K,marilyn,0,0,5,1328140800,french's roast'n bags,i love this product cant find it locally. Some...
412,413,B00061KYVI,A3JE18D4XD2PYF,pattymelt,0,0,5,1282521600,best roast ever,This is the best way to cook a roast. Our loc...
425,426,B000G6RYNE,A1Y3XPZK9ZADFW,albinocrow,0,0,4,1334016000,glad to find them in 1 oz size,"I buy mostly for vending, so the size of the b..."
477,478,B000G6RYNE,A2LS9RBSI8SDZF,Ashish Shah,0,0,5,1215475200,fantastic!you can not beat this taste and you ...,fantastic!you can not beat this taste and you ...
...,...,...,...,...,...,...,...,...,...,...
568074,568075,B00455IT22,A350HLVS48R19S,Julie,0,0,4,1346025600,good for on-the-go and practicing with a spoon,My baby HATED this when he was first ready to ...
568102,568103,B000EICISA,A31NOBXQAFMJ3I,Andy,0,0,5,1331510400,curry,"I've always loved Thai yellow curries, but nev..."
568108,568109,B000EICISA,A23F4L0XITTM3N,H. Gengnagel,0,0,5,1269561600,great if you get unexpected guests,"With some chicken, beef or pork, add some vege..."
568113,568114,B000NY4SA6,A2Q6VINLE39XNW,Alinka,1,1,5,1250726400,love it!,This ketchup is so good!I grew up on this stuf...
568134,568135,B0069AFIN4,A1QPZMOU1XNP8A,ljbr,0,0,5,1349740800,love this coffee,I love Starbucks coffee of all kinds but the P...
568152,568153,B0069AFIN4,A25ZSDXJ9KUA6W,James Killen,0,1,5,1330041600,expensive,I really liked the Pikes Place Coffee but will...
568167,568168,B004VEWTTQ,A9TPV4O2YQJXO,loves purses,3,3,5,1334534400,mm mm good,"Love this salt. It has a really nice flavor, ..."
568169,568170,B004VEWTTQ,A3N0XT43RFEJLD,"Andrea N. Fleuren ""Doctor 72""",0,0,5,1345334400,loved it,great product. actually we've used it all now...
568172,568173,B001VNKW76,A2WVXQFTBP62EY,"C. Janecek ""reviewer""",1,1,5,1323129600,"great quality, great price","We used these for an art project, so I can't t..."
568195,568196,B003RWVFEI,A3JMFCPP0H0Z3A,rk,2,2,5,1346803200,mm good,it was mild compared to canned salmon -excella...
568210,568211,B0039CLK78,A1S57OM699HXB3,Vanessa Kohlhaas,14,14,5,1268006400,my sister-in-law's favorite,My sister-in-law is a connaisseur of salted ca...
568220,568221,B0039CLK78,A1R3CYY84SA7Y0,Doug Thompson,0,0,5,1338768000,amazing candy! amazing service!,I'm thrilled with Sweet Mona's. My sea salt ca...
568222,568223,B0039CLK78,A2UVUY493GSC66,Rebecca Martin,0,0,5,1329264000,great chocolates,This box of chocolates is a serious gift. The...
568245,568246,B004JLGEII,A2VHX2LUXMLS18,noblecat53,0,0,5,1328486400,an excellent cuppa,"really nice tea, and smells wonderful. I enjoy..."
568271,568272,B00374ZKQ0,A21K28EQ023UUU,"NY rat ""+""",1,5,1,1296345600,bitter! yak; not sweet,I used to use 3 sweet and low's...this one tak...
568292,568293,B0015V7GG4,A364G7X2C85G36,S. ANDERSON,1,1,5,1288396800,licorice,If you like salty licorice - and I do - I thin...
568326,568327,B001ELL54Y,A3C81ARMZEFWC5,Travels A LOT,0,0,2,1329177600,didn't hit the right notes,This blend seems to be very light for Jamaican...
568339,568340,B000KOSIP0,A1K6DRSBGDT0G,saladin,0,0,1,1348012800,caveat emptor,After the pop-top ring came off I used some of...
568351,568352,B003O5Q3KE,A2T26HRHG8172X,pompoodlejr,0,0,4,1293321600,dog treats,"i have 4 dogs, 3 of them love these peanut but..."
568353,568354,B003O5Q3KE,A2U4L18LOGSHQ1,"Larry L. Wieskamp ""larwie""",0,0,2,1291161600,doggy crackers,These were kind of expensive for a dog treat a...
568387,568388,B001EQ5O6Y,A3NL4VV8FXZ266,"Ruby ""Tuesday""",3,3,2,1187395200,good idea but messy,"this ia a good idea; however, difficult to ope..."
568389,568390,B001EQ5O6Y,A2LGOMSYQJ5PZS,N. Hjort,2,2,5,1257552000,great flavor,The cinnamon honey sticks flavor was excellent...
568391,568392,B001EQ5O6Y,A31YNKI4TS6ZJW,Lauren L.,1,1,5,1234310400,convenient way of taking your agave with you!,I was hesitant about this product based on som...
568399,568400,B001EQ5O6Y,A339H0D2F669XI,C. Nicholls,0,0,5,1208217600,honey sticks,These are straws filled with lemon flavored ho...
568402,568403,B001EQ5O6Y,A1A3H22VVZYUKW,msfreixy,1,3,1,1187049600,alternative sweetner,"I was disappointed in this product, as I had r..."
568404,568405,B005OTVL8C,A1UJMVE0LCOI45,J. Wolf,0,0,5,1350172800,great flavor boost,If you want to add a hint of Meyer lemon flavo...
568406,568407,B0039KE8Y2,A392FNHBJR1IY6,Leo Breeden,0,0,4,1336867200,great taste,This apple butter has a great taste but the pr...
568410,568411,B0018CLWM4,A88HLWDCU57WG,R28,2,2,5,1332979200,litter box,My main reason for the five star review has to...
568430,568431,B001FPT1WM,A1XDMZMMOAMR7,nyxport,0,0,5,1345161600,delicious,This product is a bit pricey for the amt. rece...
568450,568451,B003S1WTCU,A3I8AFVPEE8KI5,R. Sawyer,0,0,2,1331251200,disappointed,I'm disappointed with the flavor. The chocolat...